<form (submit)="register()">
    <div class="form-group">
        <label for="title"><b>USERNAME</b></label><br><br>
        <input type="text" name="subject" class="form-control" [(ngModel)]="subject" placeholder="ENTER USERNAME">
    </div><br>
    <div class="form-group">
        <label for="description"><b>PASSWORD</b></label><br><br>
        <input type="password" name="description" class="form-control" [(ngModel)]="description"
            placeholder="ENTER PASSWORD">
    </div><br>
    <button type="submit" class="btn btn-success">Register</button><br><br>
</form>