<div class="gray"><img id="power" src="assets/power.png">
    <div class="black">
        <div class="pg">

            <app-navbar></app-navbar>
            <div class="encounter-screen">
                <div *ngIf="digimon === null">
                    <h4>You are not currently in an encounter.</h4> <br>
                    <div class="buttons">
                        <button type="button" class="btn btn-success" (click)="beginEncounter()">Find a Digimon</button>
                    </div>
                </div>
                <div *ngIf="digimon !== null">
                    <div *ngIf="!isEscaped && !isCaught">
                        <h4>Your chance encounter with a {{ digimon[0].name }} has begun!</h4>
                        <img src="{{digimon[0].img}}">
                        <div class="buttons" *ngIf="!needsResend && !isCaught">
                            <button type="button" class="btn btn-success" (click)="throwBait()">Throw Bait</button>
                            <button type="button" class="btn btn-danger" (click)="throwRock()">Throw Rock</button>
                            <button type="button" class="btn btn-warn" (click)="throwBall()">Throw Ball</button>
                        </div>
                        <div style="white-space: pre-line;" *ngIf="(message !== '')">
                            <p name="message">{{ message }}</p>
                            <br>
                            <p *ngIf="!needsResend && !isCaught">Current catch chance: {{catchRate}}%.
                                <br>
                                Current escape chance: {{escapeRate}}%.
                            </p>
                            <div class="buttons" *ngIf="needsResend">
                                <button type="button" class="btn btn-warn" (click)="saveDigimon()">Retry Save</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isEscaped">
                        <h4>Oh no, the Digimon ran away!</h4>
                        <img src="https://www.vippng.com/png/detail/221-2217750_poof-2-cartoon-cloud-vector.png"
                            width="35%"><br>
                        <div class="buttons">
                            <button type="button" class="btn btn-success" (click)="beginEncounter()">Try Again!</button>
                            <button type="button" class="btn btn-success" (click)="goToCollection()">Return to Your
                                Collection</button>
                        </div>
                    </div>
                    <div *ngIf="isCaught">
                        <h4>Congratulations, you caught the {{ digimon[0].name }}!</h4>
                        <img
                            src="https://images-na.ssl-images-amazon.com/images/G/01/aplusautomation/vendorimages/87e26ba0-b921-47bc-8dbc-72388169103d.jpg._CB313354162__SL300__.jpg">
                        <br>
                        <p class="joke">This is totally a DigiBall</p>
                        <div class="buttons">
                            <button type="button" class="btn btn-success" (click)="beginEncounter()">Catch More
                                Digimon</button>
                            <button type="button" class="btn btn-success" (click)="goToCollection()">Return to Your
                                Collection</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>