<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="navbar">
        <ul class="navbar-nav"><li>
            <a class="navbar-brand textlight">Digisafari Zone</a></li></ul>
        <ul class="navbar-nav">
            <li>
                <a class="link" routerLink="/encounter">Enter the Digisafari</a>
            </li>
            <li>
                <a class="link" routerLink="/collection">View Your Collection</a>
            </li>
            <li>
                <a class="link" routerLink="/login" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>