<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="navbar">
        <a routerLink="/encounter" class="navbar-brand textlight">Digisafari Zone</a>
        <ul class="navbar-nav">
            <li>
                <a routerLink="/encounter" class="navbar-brand textlight">Enter the Digisafari</a>
            </li>
            <li>
                <a routerLink="/collection">View Your Collection</a>
            </li>
            <li>
                <a routerLink="/login" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>