ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #474639;
}

li {
  float: left;
}

li a {
  display: block;
  color: #c6c5b8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.link:hover {
  background-color: rgb(68, 5, 5);
}