@font-face {
    font-family: gbFonts;
    src: url(resources/PokemonGb-RAeo.ttf);
  }

  html, body {
    background: url("resources/BG.png") no-repeat center fixed, linear-gradient(#f2af00, #f3ad00);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  button{
    font-family: gbFonts;
    background-color: #939677;
}

body {
  font-family: gbFonts;
  }
