input {
    font-size: 14px; 
    font-family: gbFonts;
    background-color: #939677;
    color: #000000;
}

.placeholder{
    color: #939677;
}

button{
    font-family: gbFonts;
    background-color: #939677;
}