input {
    font-size: 14px; 
    font-family: gbFonts;
    background-color: #939677;
    color: #000000;
}

.placeholder{
    color: #939677;
}

.container {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }